* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}
#root {
    height: 100%;
}
.cms {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* Header */

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(133, 1, 1);
    padding: 0.7em 1em 0.7em 1em;
}

.header-links-frontend a {
    text-decoration: none;
}
.header-links-frontend-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    font-style: italic;
    display: inline-block;
}
.fa-react {
    color: white;
}
.header-title {
    flex: 0 0 10%;
}
.header-title a {
    text-decoration: none;
}
.header-title-text {
    font-size: 3rem;
    color: white;
}

.header-links {
    flex: 0 0 40%;
}
.header-links > * {
    margin-right: 1em;
}

.right-box {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-homepageBtn a, .header-allArticlesBtn a, .header-newArticleBtn a {
    text-decoration: none;
}

.header-homepageBtn-text, .header-allArticlesBtn-text, .header-newArticleBtn-text {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
}

.header-homepageBtn {
    background: red;
}

.header-homepageBtn:hover {
    background: rgb(255, 76, 76)
}

.header-allArticlesBtn {
    background: red;
}

.header-allArticlesBtn:hover {
    background: rgb(255, 76, 76)
}

.header-newArticleBtn {
    background: green;
    margin-right: 4em;
}

.header-newArticleBtn:hover {
    background:rgb(0, 150, 0)
}

.header-homepageBtn:active, .header-allArticlesBtn:active, .header-newArticleBtn:active {
    transform: scale(0.95, 0.90);
}

.login {
    cursor: pointer;
    position: relative;
}

.fa-user-edit {
    font-size: 1.5rem;
    color: white;
}
.login-info {
    color: white;
    position: absolute;
    width: 9em;

    right: 70%;
    line-height: 1.5;
    text-align: center;
    background: rgb(0, 110, 0);
    letter-spacing: 1px;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 15px;
    display: none;
}
.login-info-username {
    font-size: 1rem;
    font-weight: bold;
}
.login-info-title {
    font-size: 0.8rem;
}
.login:hover .login-info {
    display: block;
}
/* Homepage */

.homepage {
    /* height: 100%; */
    flex: 1;
    padding: 0.1px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/site-news-storage.appspot.com/o/site-news-images%2Ftypewriter6.jpg?alt=media&token=4be6d1d9-f64f-4ca0-a733-94969d18ef15');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    
}
.homepage-links {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 12em;
}
.homepage-newArticleBtn, .homepage-allArticlesBtn, .homepage-frontpage-order {
    flex: 0 0 30%;
    border: 5px double rgb(133, 1, 1);
    border-radius: 10%;
    box-shadow: 0 0 50px 0px black;
    background: rgb(189, 0, 0, 0.5);
}
.homepage-newArticleBtn:active, .homepage-allArticlesBtn:active, .homepage-frontpage-order:active {
    transform: scale(0.99, 0.98);
}
.homepage-newArticleBtn:hover, .homepage-allArticlesBtn:hover, .homepage-frontpage-order:hover {
    background: rgb(1, 122, 1, 0.5);
}
.homepage-newArticleBtn a, .homepage-allArticlesBtn a, .homepage-frontpage-order a {
    text-decoration: none;
}
.homepage-newArticleBtn-text, .homepage-allArticlesBtn-text, .homepage-frontpage-order-text {
    color: white;
    font-size: 2.5rem;
    padding: 3em 0.5em 3em 0.5em;
    text-align: center;
}
/* ============== Article ================ */

.article {
    display: flex;
    flex-direction: column;
}

.article > * {
    margin-bottom: 2em;
    background: yellow;
}

/* Article navigation */

.article-navigation {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.article-navigation-tab {
    padding: 0.2em 0.5em 0.2em 0.5em;
}
.article-navigation-tab:hover {
    cursor: pointer;
}

.active-tab {
    background: green;
    color: white;
}

.saveBtn {
    font-size: 1.5rem;
    background: green;
    color: white;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
}

.article-parts {
    border: 2px solid red;
}

.cmsOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(173, 185, 3, 0.3);
}

.textdiv {
    min-height: 50px;
    width: 400px;
    background: yellow;
}

.tags-row {
    display: inline-flex;
}

.tag {
    font-size: 1.25rem;
    padding: 0.2em 0.6em 0.2em 0.6em;
    color: black;
    background: yellow;
    margin-right: 0.2em;
    position: relative;
}
.tag .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
}

/* Image cropper */

.imgCropper {
    border: 2px solid red;
}

.imgContainer {
    display: flex;
    justify-content: space-between;
}

.imgContainer > * {
    width: 48% !important
}

.ReactCrop div {
    width: 100%;
}

.ReactCrop div img {
    width: 100%;
}

/* Video */

.video-container {
    border: 2px solid red;
}

/* Image */

.img-container {
    border: 2px solid red;
}

.img {
    max-width: 600px;
}
/* ========== All articles ========== */

.allArticles {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.allArticles-columnNames {
    display: flex;
} 
.allArticles-columnNames > * {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.2em 0 0.2em 0;
    border-bottom: 3px solid black;
    border-right: 1px solid black;
}

.allArticles-columnNames-title {
    flex: 0 0 50%;
    text-align: center;
}
.allArticles-columnNames-note,
.allArticles-columnNames-dateCreated,
.allArticles-columnNames-dateUpdated,
.allArticles-columnNames-datePublished {
    flex: 0 0 10%;
    text-align: center;
}
.allArticles-columnNames-delete,
.allArticles-columnNames-publish {
    flex: 0 0 5%;
    text-align: center;
}

/* All articles item */

.allArticles-item {
    flex: 1;
    display: flex;
}

.allArticles-item-part {
    font-size: 1rem;
    font-weight: bold;
    padding: 0em 0 0em 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.allArticles-item-title {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}
.allArticles-item-title a {
    text-decoration: none;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.allArticles-item-title-text {
    margin: 0 0.5em 0 0.5em;
    font-size: 1.175rem;
    line-height: 1.5;
}
.allArticles-item-title-text:hover {
    color: green;
}
.allArticles-item-note {
    text-align: center;
}
.allArticles-item-note,
.allArticles-item-dateUpdated,
.allArticles-item-datePublished,
.allArticles-item-dateCreated
{
    flex: 0 0 10%;
}
.allArticles-item-delete,
.allArticles-item-publish
{
    flex: 0 0 5%;
}
.allArticles-item-note,
.allArticles-item-dateUpdated,
.allArticles-item-datePublished,
.allArticles-item-dateCreated,
.allArticles-item-delete,
.allArticles-item-publish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.allArticles-item-lastPage {
    flex: 0;
}
.allArticles-item-lastPage .allArticles-item-title-text {
    padding: 0.3em 0 0.3em 0; 
}

/* ========== Order ========= */

.order-articles-item {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.8em;
    margin-left: 0.3em;
}
/* .order-articles-item:nth-child(1) {
    border-top: 2px solid black;
} */

.order-send {
    text-align: center;
}

.order-send-button {
    width: 15%;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 0.6em 0.6em 0.6em 0.6em;
    color: white;
    background: green;
    margin-bottom: 1em;
}
.order-send-button:active {
    transform: scale(0.99, 0.92);
}
.order-send-button:hover {
    cursor: pointer;
    background: rgb(0, 150, 0);
}

/* Footer */

.footer {
    color: white;
    background: rgb(46, 46, 46);
    padding: 1em 0 1em 0;
}

.footer {
    margin-top: auto;
}

.footer-copyright {
    text-align: center;
    font-size: 1rem;
}

@media all and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .homepage-links {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2em
    }
    .header-links-frontend-title {
        font-size: 2rem;
        font-weight: bold;
    }
    .homepage-newArticleBtn-text, .homepage-allArticlesBtn-text, .homepage-frontpage-order-text {
        font-size: 2.5rem;
    }
}